.movie {
  font-size: 18px;
  padding: 10px 0px;
}

a {
  color: black;
  font-size: 24px;
}

.add-movie-button {
  position: absolute;
  top: 75px;
  color: #ffffff;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff4081;
  border: none;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.63);
  cursor: pointer;
}
.movie:hover{
    background: #808080;
}